
h1
{
	color: rgb(255, 0, 111); 
	font-size: 40px;
}
.body_backgorund {
	background-image: url(Untitled\ design.png);
	background-position: center;
	background-size: cover;
}

#myCanvas{
border-width:10px ;
background-color: rgb(164, 62, 91);
border-style: ridge;
}
